<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <!--
        이 문서의 형식이 configuration(==환경설정)임을 알려줌
        =>configuration 태그가 전체를 감싸고 있음
        DTD:  유효성을 체크해줌
            (과연 이 문서에서 쓰인 태그들이 configuration 태그 안에 존재하는게 문법상 맞는지를 체크해줌)
    -->
<configuration>
    <!--settings: MyBatis 구동 시 선언할 설정들을 작성하는 영역-->
    <settings>
        <!--만약에 null로 데이터가 전달되었다면 빈칸이 아닌 NULL로 인식하겠다-->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <!--typeAlias: VO/DTO 클래스들의 풀 클래스명을 단순한 별칭으로 사용하기 위해서 별칭을 등록할 수 있는 영역-->
    <typeAliases>
        <typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="member"/>
        <typeAlias type="com.kh.mybatis.board.model.vo.Board" alias="board" />
        <typeAlias type="com.kh.mybatis.board.model.vo.Reply" alias="reply" />
    </typeAliases>
    <!--
        environments:   MyBatis에서 연동할 DB들의 정보를 등록하는 영역
                        (여러 개의 DB 정보를 등록 가능)
                        default 속성으로 여러개의 DB를 나타내는 id 중 어떤 DB를 기본으로 사용할지 설정해줘야 함
    -->
    <environments default="development">
        <environment id="development">
        <!--
            * transactionManager: 트랜잭션 설정을 개발자가 직접 코드로 할지, MyBatis가 자동으로 해줄지에 대한 설정
            - JDBC: 트랜잭션 처리를 내가 직접 관리하겠다.(수동 commit)
            - MANAGED:  개발자가 트랜잭션에 대해서 어떠한 영향도 행사하지 않겠다(자동 commit)
        -->
            <transactionManager type="JDBC"/>
            <!--
                * dataSource: Connection Pool의 사용 여부
                - Connection Pool:  Connection 객체들을 담아둘 수 있는 영역
                                    한번 생성된 Connection 객체를 Connection Pool에 담아두면 재사용해서 쓸 수 있음
                -POOLED:  Connection Pool을 사용하겠다.
                -UNPOOLED:  Connection Pool을 사용하지 않겠다
            -->  
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
                <property name="username" value="MYBATIS"/>
                <property name="password" value="MYBATIS"/>
            </dataSource>
        </environment>
    </environments>

    <!--mappers: 실행할 sql문들을 기록해둔 mapper 파일들을 등록하는 영역-->
    <mappers>
        <mapper resource="/mappers/member-mapper.xml" />
        <mapper resource="/mappers/board-mapper.xml" />
    </mappers>
</configuration>